In [9]:
import pandas as pd

print("\n-------------------------------------------\n")
print("Reading CSV files and printing:\n")
df = pd.read_csv('Mall_Customers.csv')
print(df)
print(df.head(10)) #printing first 10 rows
print(df.tail(10)) #printing last 10 rows

print("\n\nINFOMATION ABOUT DATASET:")
print(df.info()) #printing information about dataset

-------------------------------------------

Reading CSV files and printing:

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72
     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
190         191  Female   34                 103                      23
191         192  Female   32                 103                      69
192         193    Male   33                 113                       8
193         194  Female   38                 113                      91
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83


INFOMATION ABOUT DATASET:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

In [19]:
print("Initial Shape:", df.shape)
print("Columns:", df.columns.tolist())

Initial Shape: (200, 5)
Columns: ['CustomerID', 'Gender', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

In [25]:
#Identify and handling missing values using isnull

print("\nMissing values per column:\n", df.isnull().sum())

Missing values per column:
 CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

There are no Missing Values in This Dataset.

In [29]:
#removing duplicates from the dataset
df = df.drop_duplicates()
print("\nShape after removing duplicates:", df.shape)

Shape after removing duplicates: (200, 5)

The shape is same as before hence there is no duplicates in th dataset.

In [42]:
#Standardize the text of gender

df['gender'] = df['gender'].str.capitalize().str.strip()
df.head()

   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [38]:
# Rename Columns
df.columns = [col.lower().replace(" ", "_") for col in df.columns]
df.head()

   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [68]:
# Checking Data Types and Convert if Needed
print("Checking the column age values are INT or not\n")
print(df['age'] == df['age'].astype(int))

print("\n\nChecking the column annual income values are INT or not\n")
print(df['annual_income_(k$)'] == df['annual_income_(k$)'].astype(int))

print("\n\nChecking the column spending score values are INT or not\n")
print(df['spending_score_(1-100)'] == df['spending_score_(1-100)'].astype(int))

Checking the column age values are INT or not

0      True
1      True
2      True
3      True
4      True
       ...
195    True
196    True
197    True
198    True
199    True
Name: age, Length: 200, dtype: bool


Checking the column annual income values are INT or not

0      True
1      True
2      True
3      True
4      True
       ...
195    True
196    True
197    True
198    True
199    True
Name: annual_income_(k$), Length: 200, dtype: bool


Checking the column spending score values are INT or not

0      True
1      True
2      True
3      True
4      True
       ...
195    True
196    True
197    True
198    True
199    True
Name: spending_score_(1-100), Length: 200, dtype: bool

In [70]:
#Saved Cleaned Dataset
df.to_csv("mall_customers_cleaned.csv", index=False)

In [74]:
print("\nCleaned Data Preview:\n", df.head())

Cleaned Data Preview:
    customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40